<div class="home">
this is the main component this the number of notifcation {{counter}}
</div>
<app-first [message]="sendmessage()" (notify)="getFromChild($event)">

</app-first>







<!-- 
<main>

  <router-outlet>
    
  </router-outlet>
</main>

 <form>
  <label>name:</label>
  <input type="text" name="name" [(ngModel)]="name">
  <label>password</label>
  <input type ="password" name="pass" [(ngModel)]="password" >
  <input type="submit" value="Login" (click)="login()" >

</form>
<p *ngIf=" statuts;else error">user has been login</p>

<ng-template #error>
<p>user or password are not correct</p>
</ng-template>

<div>

  <h1>
    this is the list of users from service
    <table>
      <tr *ngFor="let name of names">
        <td>id:{{name.id}}</td>
        <td>name:{{name.name}}</td>
      </tr>
    </table>
  </h1>
</div>
<div>
  <h1>this is our routes</h1>
  <router-outlet></router-outlet>
</div>


<div>nav
<a [routerLink]="['/first',{id:030303,name:'mehdi'}]">first</a>
<a [routerLink]="['/other']" [queryParams]="{id:030303,status:true,name:'mehdi'}">second</a>
<a routerLink="/new/{{id}}">new</a>
<a [routerLink]="['/new',id]">newother way</a>
</div>

<div>
  <button (click)="goToFirst()">first</button>
  <button (click)="goToOther()">other</button>
  <button (click)="goToNew()">new</button>
</div> -->